<div class="container">
    <h1 *ngIf="loginPage">Iniciar sesion</h1>
    <h1 *ngIf="signupPage">Registrarse</h1>
    <h1 *ngIf="resetPasswordPage">Restablecer contraseña</h1>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">


      <div class="form-group">
        <label for="email">email</label>
        <input type="email" class="form-control" id="email" formControlName="email" required>

        <div *ngIf="formErrors.email" class="alert alert-danger">
          {{ formErrors.email }}
        </div>
      </div>

      <div class="form-group" *ngIf="!resetPasswordPage">
        <label for="password">Contraseña</label>
        <input type="password" class="form-control" id="password" formControlName="password" required>

        <div *ngIf="formErrors.password" class="alert alert-danger">
          {{ formErrors.password }}
        </div>
      </div>

      <button type="submit" class="btn btn-default">
        <span *ngIf="loginPage">Iniciar sesion</span>
        <span *ngIf="signupPage">Registrarse</span>
        <span *ngIf="resetPasswordPage">Restablecer</span>
      </button>

    </form>

    <button class="btn btn-link btn-block" (click)="showLogin()" *ngIf="!loginPage">
     <!-- *ngI`f="!loginPage"> -->
      Iniciar sesion
    </button>

    <button class="btn btn-link btn-block" (click)="showRegister()" *ngIf="!signupPage">
     <!-- *ngIf="!signupPage"> -->
      Registrarse
    </button>

    <button class="btn btn-link btn-block" (click)="showResetPassword()" *ngIf="!resetPasswordPage">
     <!-- *ngIf="!resetPasswordPage"> -->
      Olvide mi contraseña
    </button>

</div>
