<!-- <div class="container-fluid"> -->
	
	<div class="col-md-9 diary">

		<div class="row">
			<div class="btn-group" role="group" aria-label="...">
			  <button type="button" class="btn btn-default" (click)="nav('diary')">Diario</button>
			  <button type="button" class="btn btn-default" (click)="nav('logs')">Peso</button>
			  <button type="button" class="btn btn-default" (click)="nav('patient-profile')">Perfil</button>
			</div>
		</div>

		<div class="rOutlet">
			<router-outlet></router-outlet>
		</div>
		

	</div>

	<div class="col-md-3 chat">
		<app-chat></app-chat>
	</div>

<!-- </div> -->



