.diary {
	height: 80vh;
	margin-bottom: 2vh;
  margin-top: 2vh;
  overflow-y: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.reviewIcon {
	cursor: pointer;
	font-size: 20px;
}

.OKselected {
	color: green
}

.notOKselected {
	color: red;
}

.reviews {
	margin-top: 15px;
}
