<div *ngFor="let log of diary | async | objectIterate:true">
	
	<div class="row">
		<h3>{{ log.$key | momentDate:'dddd DD MMMM YYYY'}}</h3>
	</div>
		
	
	<div *ngFor="let item of log | objectIterate: true">
		
		<div class="row"><h4>{{ item.meal }}</h4></div>
		
		<div class="row"><p>{{ item.text }}</p></div>

		<div class="row" *ngIf="item.webImages">
		  <div class="col-xs-6 col-md-3" *ngFor="let img of item.webImages">
		    <a class="thumbnail">
		      <img [src]="img">
		    </a>
		  </div>
		</div>
		
		<div class="row">
			<div class="col-md-12">
				<div class="input-group">
					<span class="input-group-addon" id="basic-addon1">
						<i class="fa fa-check-circle reviewIcon" aria-hidden="true"
						(click)= "rate('ok', log.$key, item.$key)"
						[ngClass] = "{ 'OKselected': (item.rate === 'ok'? true : false) }" ></i>

						<i class="fa fa-times-circle reviewIcon" aria-hidden="true"
						(click)= "rate('notok', log.$key, item.$key)"
						[ngClass] = "{ 'notOKselected': (item.rate === 'notok'? true : false) }"></i>
					</span>
					<input class="form-control" type="text" placeholder="Devolucion" aria-describedby="basic-addon1" (keyup.enter)= "sendReview(review.value, log.$key, item.$key)" #review>
					<span class="input-group-btn">
						<button (click)= "sendReview(review.value, log.$key, item.$key)" class="btn btn-default">Enviar</button>
					</span>
				</div>
			</div>
		</div>
				
		<div class="row" *ngIf="item.reviews">
			<div class="col-md-12" *ngFor="let review of item.reviews | objectIterate:true ">
				{{ review.name }} {{ review.timestamp | momentFromNow}}<br>
				<p>{{ review.message }}</p>
			</div>
		</div>
		<hr/>

	</div>
</div>



