.diary {
	height: 80vh;
	margin-bottom: 2vh;
  overflow-y: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.filters {
	margin-top: 10px;
}

.mealTitle {
	display: inline-block;
  margin-right: 10px;
}

.reviewIcon {
	cursor: pointer;
	font-size: 20px;
}

.OKselected {
	color: #449d44
}

.notOKselected {
	color: #c9302c;
}

.reviews {
	margin-top: 15px;
}
