/*
.entries {
	background-color: #FF00FF
}

.filters {
	background-color: green;
}*/

.mealTitle {
	display: inline-block;
  margin-right: 10px;
}

.reviewIcon {
	cursor: pointer;
	font-size: 20px;
}

.OKselected {
	color: #449d44
}

.notOKselected {
	color: #c9302c;
}

.reviews {
	margin-top: 15px;
}
