<div class="container">

	<div class="row">

		<div class="col-md-6 col-md-offset-3 col-xs-12">
			
			<h1>Perfil</h1>

		<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
			
			<div class="form-group">
				<label for="firstName">Nombre</label>
				<input type="text" formControlName="firstName" id="firstName" class="form-control">
			</div>

			<div class="form-group">
				<label for="lastName">Apellido</label>
				<input type="text" formControlName="lastName" id="lastName" class="form-control">
			</div>

			<div class="form-group">
				<label for="displayName">Apodo</label>
				<input type="text" formControlName="displayName" id="displayName" class="form-control">
			</div>

			<div class="form-group">
				<label for="birthday">Cumpleaños</label>
				<input type="date" formControlName="birthday" id="birthday" class="form-control">
			</div>

			<div class="form-group">
				<label for="interests">Intereses</label>
				<input type="text" formControlName="interests" id="interests" class="form-control">
			</div>

			<div class="form-group">
				<label for="bio">Bio</label>
				<textarea type="text" formControlName="bio" id="bio" rows="8" class="form-control">
				</textarea>
			</div>

			<div class="form-group">
				<label for="localPath">Image</label>
				<input type="file" formControlName="localPath" id="localPath">
		    <p class="help-block">Agrega tu foto de perfil!</p>
			</div>

			<button type="submit" class="btn btn-success pull-right btn-sm">
        Actualizar
      </button>


		</form>

		</div>
	</div>

</div>
