
.messages {
  height: 93%;
  overflow: auto;
  position: relative;
}

.chatPageFooter {
  height: 7%;
}

.chatBubble {
  /*margin-bottom: 5px;*/
  overflow: auto;
  position: relative;
}

img.profile-pic {
  border-radius: 50%;
  bottom: 10px;
  height: 40px;
  position: absolute;
  width: 40px;
  
}

img.profile-pic.left {
  left: 5px;
}

img.profile-pic.right {
  right: 5px;
}

.message {
  font-size: medium;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.message-detail {
  white-space: nowrap;
  font-size: 14px;
}

.chat-bubble {
  border-radius: 5px;
  display: inline-block;
  padding: 10px 18px;
  position: relative;
  margin: 10px 10px 45px 10px;
  /*margin-bottom: 45px;*/
  max-width: 80%;
}

.chat-bubble:before {
  content: "\00a0";
  display: block;
  height: 16px;
  width: 9px;
  position: absolute;
  bottom: -7.5px;
}

.chat-bubble.left {
  background-color: #fea21c;
  float: left;
  margin-left: 45px;
}

.chat-bubble.left:before {
  background-color: #fea21c;
  left: 10px;
  -webkit-transform: rotate(70deg) skew(5deg);
}

.chat-bubble.right {
  background-color: #8abefa;
  color: #000;
  float: right;
  margin-right: 45px;
}

.chat-bubble.right:before {
  background-color: #8abefa;
  right: 10px;
  -webkit-transform: rotate(118deg) skew(-5deg);
}

.chat-bubble.right a.autolinker {
  color: #000;
  font-weight: bold;
}
